{:aliases
 {:workflow-vocab-test-clj
  {:extra-paths ["test"]
   :main-opts ["-m" "language-learning.vocabulary-estimation.test-runner"]}
  :workflow-vocab-test-cljs
  {:extra-paths ["test"]
   :extra-deps {org.clojure/clojurescript {:mvn/version "1.12.42"}}
   :main-opts ["-m" "cljs.main"
               "-re" "node"
               "-m" "language-learning.vocabulary-estimation.cljs-test-runner"]}}}
